* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000000;
}

h1 {
  color: #7D7DFF;
  padding: 1em 0;
}

.memory-game {
  width: 850px;
  height: 850px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-top: 0;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 5px;
  cursor: pointer;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.progessbar {
  position: relative;
  text-align: center;
  border: 1px dashed blue;
  height: 16px;
  width: 250px;
}

.progessbar .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 16px;
  z-index: 10;
}

.progessbar .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  background-color: green;
}
